<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sayanpco.sayanchargesample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChargeActivity"
            android:label="Charge" />
        <activity
            android:name=".activities.CreditActivity"
            android:label="Credit" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login / Signup" />
        <activity android:name=".activities.CallbackActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.sayanpco.sayanchargesample" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreditReportActivity" />
        <activity android:name=".activities.internet.InternetPackActivity" />
        <activity android:name=".activities.internet.InternetPackGroupActivity" />
        <activity android:name=".activities.internet.InternetPacksListActivity" />
        <activity android:name=".activities.antivirus.AntivirusBrandActivity"></activity>
        <activity android:name=".activities.antivirus.AntiVirusListActivity" />
    </application>

</manifest>